# maps and patches
notebooks/geospatial/patches_*_*/

# classification one inch
notebooks/geospatial/*classification_one_inch_maps/*
!notebooks/geospatial/*classification_one_inch_maps/Pipeline.ipynb
!notebooks/geospatial/*classification_one_inch_maps/annotations_one_inch/

# text spotting one inch
notebooks/geospatial/text_spotting_one_inch_maps/*/*
!notebooks/geospatial/text_spotting_one_inch_maps/*/Pipeline.ipynb

# iiif download
notebooks/geospatial/iiif_download/*
!notebooks/geospatial/iiif_download/Pipeline.ipynb

# classification mnist
notebooks/non-geospatial/classification_mnist/*
!notebooks/non-geospatial/classification_mnist/Pipeline.ipynb
!notebooks/non-geospatial/classification_mnist/annotations_mnist/
!notebooks/non-geospatial/classification_mnist/small_mnist/

# classification plant phenotype
notebooks/non-geospatial/classification_plant_phenotype/*
!notebooks/non-geospatial/classification_plant_phenotype/Pipeline.ipynb
!notebooks/non-geospatial/classification_plant_phenotype/annotations_phenotype_open_access/
!notebooks/non-geospatial/classification_plant_phenotype/dataset/
